@import url('https://fonts.googleapis.com/css2?family=Monsterrat:ital,wght@0,400;1,600&display=swap');

:root{
    --primary-color: #090d91;
    --dark-gray: #6B7280;
    --off-white: #f3f4f6;
}

body{
    font-family: 'Monsterrat', sans-serif;
}

hr{
    margin: 2rem 0rem;
}

/* container */
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.center-container{
    max-width: 600px;
    margin: auto;   
}

/* links */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.primary-link{
   background-color: var(--primary-color);
   color: white;
   border-radius: 0.5rem;
   
}

.primary-link:hover{
    background-color: lightgrey;
    color: #111;
}

.secondary-link{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

.secondary-link:hover{
    background-color: white;
}

/* List */
.unordered-list{
    list-style: none;
}

.inline-list-item{ 
    display: inline; 
    padding: 0rem 0.5rem; 
}

/* Nav bar */
.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}
.navigation .link{
    color: white;
}

.navigation .nav-pills{
    text-align: right;
}
.navigation .nav-brand{
    font-weight: bold;
}

.navigation .link-active{
    font-weight: bold;
}

/* header */
 
.hero{
    padding: 2rem;
    padding-top: 5rem;
}

.hero .hero-img{
    max-width: 80%;
    width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading{
    color: var(--dark-gray);
    text-align: center;
    padding-top: 1rem;;
}
.hero .hero-heading .heading-inverted{
    color: var(--primary-color);
}

/* section */

.section{
    padding: 2rem;
}

.section h1{
    text-align: center; 
}
.offwhite{
    background-color: var(--off-white);
}

/* footer */
.footer{
    background-color: var(--primary-color);
    color: white;
    padding: 2rem 1rem;
    text-align: center;
    border-top-left-radius: 2rem;
}
.footer ul{
    padding-inline-start:0px;
}
.footer .link{
    color: white;
}